<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no" />
    <title>我要提问</title>
    <link href="~/Content/bootstrap-3.3.5.css" rel="stylesheet" />   
    <script src="~/Scripts/jquery-2.1.4.js"></script>  
    <script src="~/Scripts/bootstrap-3.3.5.js"></script>    
    <link href="~/summernote/dist/summernote.css" rel="stylesheet" />
    <script src="~/summernote/dist/summernote.min.js"></script>   
</head>
<body>
    <!--导航-->
    <div style="max-width:1160px;margin:auto;">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/images/logo.png" class="img-responsive" width="130" height="80" style="float:left;" />
                </div>               
                <div class="collapse navbar-collapse" id="example-navbar-collapse">                  
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/Home/Index">首页</a></li>
                        <li><a href="/Home/BBS">讨论专区</a></li>
                        <li><a href="/Home/ApplyLoan">我要贷款</a></li>
                        <li>
                            @{if (Session["username"] == null)
                                {
                                    <a href="/Home/Login" target="_self">
                                        <span class="glyphicon glyphicon-user"></span>我的账户
                                    </a>
                                }
                                else
                                {
                                    <a href="/Home/Logout" target="_self">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        @Session["username"]
                                    </a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="maindiv" style="max-width:1160px;margin:auto;">
        <div class="container">
            <div class="divArticle">
                <label>文章标题</label>
                <input id="articleTitle" class="form-control input-sm" style="clear:both;height:30px; margin-top:10px; font-size:16px; border-top:none;border-right:none;border-left:none;border-bottom:2px solid blue; outline:0" />
            </div>
        </div>
        <div class="container">
            <div class="divArticle" style="margin-top:10px;">
                <div id="summernote"><p>请输入正文</p></div>
            </div>
        </div>
        <div class="container">
            <div class="" style="margin-top:10px;">
                <button id="btnPublishArticle" type="button" class="btn btn btn-info" style="width:100px;">发布</button>
            </div>
        </div>
    </div>
    <script>

        $('#btnPublishArticle').click(function () {
            var title = $('#articleTitle').val();
            var details = $('#summernote').summernote('code');
            data = new FormData();
            data.append("title", title);
            data.append("details", details);
            console.log(data);
            $.ajax({
                data: data,
                type: "POST",
                url: "/Home/PublishArticle",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == "success") {
                        window.location.href = "/Home/BBS";
                    }
                }
            });
        });



        $(document).ready(function () {
            $('#summernote').summernote({
                height: 250,
                callbacks: {
                    onImageUpload: function (files) { //the onImageUpload API  
                        img = sendFile(files[0]);
                    }
                }
            });
        });

        function sendFile(file) {
            data = new FormData();
            data.append("file", file);
            console.log(data);
            $.ajax({
                data: data,
                type: "POST",
                url: "/Home/SummerNoteFileUpLoad",
                cache: false,
                contentType: false,
                processData: false,
                success: function (url) {
                    $("#summernote").summernote('insertImage', url, 'image name'); // the insertImage API  
                }
            });
        }  
    </script>
</body>
</html>