<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="HuLiLoanDBEntities" connectionString="metadata=res://*/HuLiLoanDB.csdl|res://*/HuLiLoanDB.ssdl|res://*/HuLiLoanDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6FSUU9O;initial catalog=HuLiLoanDB;user id=sa;password=d7910410410;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>